extends ../base.pug

block content
    block sidebar
    h3 Update Music #{music.title}
    form(method="POST")
        input(name="title", placeholder="Music Name", value=music.name, required, minlength=1)
        input(name="artist",placeholder="Artist Name", required, type="text", value=music.artist, maxlength=50)
        input(value="Save" type="submit")