mixin playList2(music2)
    audio(src="/"+music2.fileUrl, controls)#audio_playlist
        div.playlist_music_main
            img(src=music2.img)#playlist_track_image
            div.playlist_music_title=music2.title
            div.playlist_music_artist=music2.artist