@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/player.scss";
@import "./components/noticelist.scss";

// Screens
// @import "./screens/home.scss";
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/sidebar.scss";
@import "./screens/notice.scss";
@import "dsf.scss";

body {
  font-family: "Noto Sans KR", sans-serif;
  // background: linear-gradient(90deg, #ffffff, 80%, #8fc3ff);
}

header {
  border-bottom: 2px solid #000;
}

//Defaults

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

hr {
  border: 1px solid rgba($color: #818181, $alpha: 0.5);
}

#bgimg {
  width: 100%;
  height: 100vh;
}
