.grid_cover {
  position: relative;
}
.video-grid {
  display: flex;
  height: 325px;
  gap: 50px;
  overflow: auto;
  overflow-y: hidden;
  background: linear-gradient(130deg, #ffffff, 80%, #8fc3ff);
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
  }
  .music_main {
    margin-top: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.4s ease;
    &:hover {
      margin-top: 0;
    }
  }
  .music_title,
  .music_artist {
    max-width: 150;
  }
  .music_title {
    font-size: 18px;
    font-weight: 600;
  }
}
.pre_btn,
.next_btn {
  top: 40%;
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.pre_btn {
  left: -65px;
}
.next_btn {
  right: -65px;
}

.chart_text {
  font-size: 40px;
  margin: 50px 0 30px 0;
}
.chart_cover {
  background-color: rgb(49, 159, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-bottom: 10%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background: linear-gradient(130deg, #ffffff, 80%, #8fc3ff);
  .chart-grid {
    width: 95%;
    height: 700px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(179, 179, 179);
    }
    .music_main {
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.4s ease;
      &:hover {
        margin-left: 30px;
      }
      .track_image {
        width: 100px;
        height: 100px;
      }
      .music_title,
      .music_artist {
        font-size: 22px;
      }
      .music_title {
        margin-left: 10px;
      }
    }
  }
}
