.sidebar {
  z-index: 5555;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 60px;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 0px;
  font-size: 20px;
  transition: all 0.5s ease;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  p {
    height: 50px;
  }
  a {
    color: rgb(255, 255, 255);
  }
  .profile_link {
    opacity: 0;
    pointer-events: none;
  }
  // top
  .menu_top {
    position: relative;
    padding: 0px 14px;
    margin-bottom: 40px;
    .logo_content {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 30px;
      }
    }
    .playlist_text {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 200px;
      right: 5px;
      font-size: 16px;
      transition: all 0.5s ease;
    }
    .profile_link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 135px;
      width: 100%;
      border-radius: 25px;
      transition: all 0.4s ease;
      background: rgba(255, 255, 255, 0.7);
      a {
        color: black;
        transition: all 0.4s ease;
      }
      .login_btn {
        font-size: 45px;
        left: 100px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.7);
        a {
          color: white;
        }
      }
      .small_profile {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        .small_profile_edit,
        .small_profile_upload {
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 25px;
        }
        .small_profile_upload {
          top: 50px;
          right: 18px;
          font-size: 26px;
        }

        .small_profile_img {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          margin-left: 5px;
        }
        .small_profile_description {
          height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 15px;
          .small_profile_name {
            font-weight: 500;
          }
          .small_profile_text {
            font-size: 15px;
          }
        }
      }
    }
  }

  // middle
  // .menu_middle {
  //   opacity: 0;
  //   pointer-events: none;
  //   width: 100%;
  //   height: 77%;
  //   padding: 0px 14px 0px 14px;
  //   border-top: 1px solid #fff;
  //   position: relative;
  //   overflow: auto;
  //   &::-webkit-scrollbar {
  //     height: 5px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background: black;
  //   }
  //   .playlist_list {
  //     position: relative;
  //     width: 90%;
  //     // margin: 12px auto;
  //   }
  //   i {
  //     font-size: 25px;
  //     position: absolute;
  //     top: 70px;
  //     right: 10px;
  //     cursor: pointer;
  //     color: black;
  //   }
  //   .playlist_playbtn {
  //     right: 50px;
  //   }
  //   .playlist_wrap {
  //     position: relative;
  //     max-height: 100px;
  //     transition: all 0.5s ease;
  //     width: 100%;
  //     border-radius: 20px;
  //     div {
  //       text-overflow: ellipsis;
  //       white-space: nowrap;
  //       overflow: hidden;
  //       font-weight: 600;
  //     }
  //     &:hover {
  //       color: black;
  //       background-color: #fff;
  //     }
  //     .title_artist-wrap {
  //       position: absolute;
  //       width: 50%;
  //       height: 65px;
  //       top: 0;
  //       left: 105px;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: space-around;
  //     }
  //   }
  // }
}
// .playlist_track_image {
//   width: 100px;
//   height: 100px;
//   border-radius: 20px;
// }

.active {
  width: 300px;
  .profile_link {
    opacity: 1;
    pointer-events: auto;
  }
  .menu_middle {
    opacity: 1;
    pointer-events: auto;
  }
  .menu_top .playlist_text {
    opacity: 1;
    pointer-events: auto;
  }
  #logout {
    opacity: 1;
    pointer-events: auto;
  }
}

#btn {
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
}
#logout {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 7;
  left: 18px;
  font-size: 30px;
  transition: all 0.5s ease;
  &:hover {
    color: black;
  }
}
