.sidebar {
  z-index: 5555;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: end;
  height: 100vh;
  width: 40px;
  top: 0;
  right: 0;
  padding: 6px 0 6px 20px;
  background: rgb(0, 0, 0, 0.8);
  font-size: 20px;
  transition: all 0.5s ease;
  border-left: 1px solid rgba(0, 0, 0);
  a {
    color: rgb(255, 255, 255);
  }
  .profile_link {
    opacity: 0;
    pointer-events: none;
  }
  // top
  .menu_top {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    .logo_content {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
    }
    .profile_link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 135px;
      width: 94%;
      transition: all 0.4s ease;
      border-bottom: 1px solid rgb(255, 255, 255);
      margin-top: 68px;
      // background: rgba(255, 255, 255, 0.7);
      a {
        transition: all 0.4s ease;
        &:hover {
          color: rgb(124, 124, 124);
        }
      }
      .login_btn {
        font-size: 45px;
        left: 100px;
        &:hover {
          color: white;
        }
      }
      .small_profile {
        display: flex;
        width: 100%;
        height: 100%;
        border-top: 1px solid white;
        .small_profile_edit,
        .small_profile_upload {
          position: absolute;
          right: 10px;
          margin-top: 6px;
          font-size: 28px;
          transition: all 0.4s ease;
        }
        .small_profile_upload {
          right: 50px;
        }
        .small_profile_wrap {
          display: flex;
          align-items: center;
          .small_profile_img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin-left: 5px;
          }
          .small_profile_description {
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 15px;
            margin-top: 24px;
            .small_profile_name {
              font-weight: 500;
            }
            .small_profile_text {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .menu_middle {
    opacity: 0;
    pointer-events: none;
    height: 70%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(179, 179, 179);
    }
    .playlist_list {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgb(90, 90, 90);
      .playlist_music_main {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        .playlist_track_image {
          width: 32%;
        }
        .title_artist-wrap {
          font-size: 22px;
          width: 100%;
          height: 100%;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      i {
        color: white;
      }
    }
  }
}

.active {
  width: 350px;
  display: flex;
  flex-direction: column;
  width: 300px;
  .profile_link {
    opacity: 1;
    pointer-events: auto;
  }
  .menu_middle {
    opacity: 1;
    pointer-events: auto;
  }
  .menu_top .playlist_text {
    opacity: 1;
    pointer-events: auto;
  }
  #logout {
    opacity: 1;
    pointer-events: auto;
  }
}

#btn {
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
  color: white;
}
#logout {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 7;
  left: 0;
  font-size: 30px;
  transition: all 0.5s ease;
  &:hover {
    color: rgb(138, 138, 138);
  }
}
