form {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.3);
}

.posting-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .posting-title,
  .posting-maintext {
    resize: none;
    font-size: 18px;
    background: none;
  }
  .posting-title {
    height: 50px;
  }
  .posting-btn {
    position: relative;
    width: 5%;
    justify-self: flex-end;
  }
}

// input {
//   all: unset;
//   padding: 10px 20px;
//   margin-bottom: 10px;
//   border-radius: 5px;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   font-size: 16px;
//   // background-color: black;
//   width: 90%;
//   position: relative;
//   &::placeholder {
//     color: rgba(255, 255, 255, 0.6);
//   }
// }

// input[type="submit"],
// .social_btn {
//   padding: 12px 20px;
//   background-color: dimgray;
//   border-radius: 5px;
//   border: 1px solid rgba(255, 255, 255, 0.2);
//   text-align: center;
//   cursor: pointer;
//   display: block;
// }
