.main-player {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 20px 12px rgb(255 255 255 / 20%);
  overflow: hidden;
  border-radius: 20px;
  #bgImg {
    position: absolute;
    width: 200%;
    height: 200%;
    filter: blur(20px);
    opacity: 0.7;
    z-index: -999;
  }
  .like_icon {
    position: absolute;
    top: 150px;
    left: 420px;
    cursor: pointer;
    font-size: 20px;
  }
  #volume {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    top: 40px;
    right: 65px;
    width: 20%;
    #volume_bar {
      width: 70%;
    }
  }
  // button {
  //   padding: 10px 12px;
  //   margin: 0 10px;
  // }
}

.top {
  position: absolute;
  display: flex;
  top: 60px;
  width: 100%;
  .title_artist_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 110px;
    width: 40%;
    font-size: 30px;
    #name,
    #artist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
    }
  }
}
.middle {
  display: flex;
  width: 100%;
  justify-content: space-around;
  .playbtn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    &:hover {
      #play {
        opacity: 1;
      }
    }
    .playpage_track_imag {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: 1px 0px 20px 12px rgb(0 0 0 / 20%);
      transition: all 0.1s ease;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      &:active {
        width: 95%;
        height: 95%;
      }
    }
    .cdimg {
      font-size: 200px;
    }
    #play {
      position: absolute;
      font-size: 100px;
      background: none;
      border: none;
      opacity: 0.5;
      transition: 0.4s;
      color: rgb(255, 255, 255);
    }
  }
  .lyrics_main {
    width: 350px;
    height: 500px;
    text-align: center;
    line-height: 40px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.bottom {
  position: absolute;
  top: 640px;
  left: 100px;
  width: 40%;
  // #volume {
  //   width: 38%;
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  // }
  #duration {
    height: 20px;
    width: 100%;
    #duration_slider {
    }
    .duration_text {
      margin-top: 10px;
    }
  }
  // input[type="range"] {
  //   -webkit-appearance: none;
  //   width: 80%;
  //   outline: none;
  //   height: 2px;
  //   &::-webkit-slider-thumb {
  //     -webkit-appearance: none;
  //     height: 20px;
  //     width: 20px;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     background: #353535;
  //   }
  // }
}
input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  outline: none;
  height: 2px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #353535;
  }
}

.hide {
  display: none;
}

// .right,
// .left {
//   position: relative;
//   height: 100%;
//   width: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

// .left {
//   img {
//     height: 300px;
//     width: 300px;
//     border-radius: 15px;
//     box-shadow: 1px 0px 20px 12px rgba($color: #fff, $alpha: 0.2);
//   }
//   #volume {
//     position: absolute;
//     bottom: 10%;
//     left: 0;
//     width: 100%;
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #fff;
//     i {
//       cursor: pointer;
//       padding: 8px 12px;
//       background: #ff8a65;
//       &:hover {
//         background: rgba($color: #ffffff, $alpha: 0.1);
//       }
//     }
//     #volume_show {
//       padding: 8px 12px;
//       margin: 0 5px 0 0;
//       background: rgba($color: #ffffff, $alpha: 0.1);
//     }
//   }
// }

// .right {
//   input[tpye="range"] {
//     width: 40%;
//   }
//   .middle {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     button {
//       border: none;
//       height: 70px;
//       width: 70px;
//       border-radius: 50%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       cursor: pointer;
//       outline: none;
//       transition: 0.5s;
//       background: rgba($color: #ffffff, $alpha: 0.1);
//     }
//     #play {
//       background: #ff8a65;
//     }
//   }
//   #name {
//     position: absolute;
//     top: 60px;
//     left: 50%;
//     transform: translateX(-50%);
//     text-transform: uppercase;
//     color: #fff;
//     font-size: 35px;
//   }
//   #artist {
//     position: absolute;
//     top: 110px;
//     left: 50%;
//     transform: translateX(-50%);
//     text-transform: uppercase;
//     color: #fff;
//     font-size: 18px;
//   }
//   .duration {
//     position: absolute;
//     bottom: 20%;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 20px;
//     margin-top: 40px;
//     p {
//       color: #fff;
//       font-size: 15px;
//       margin-left: 20px;
//     }
//   }
//   #auto {
//     font-size: 18px;
//     cursor: pointer;
//     margin-top: 45px;
//     border: none;
//     padding: 10px 14px;
//     color: #fff;
//     background: rgba($color: #ffffff, $alpha: 0.1);
//     outline: none;
//     border-radius: 10px;
//     i {
//       margin-left: 8px;
//     }
//   }
//   button {
//     &:hover {
//       background: #ff8a65;
//     }
//   }
//   i {
//     &::before {
//       color: #fff;
//       font-size: 20px;
//     }
//   }
//   .show_song_no {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     width: 30px;
//     height: 20px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 8px 12px;
//     color: #fff;
//     border-radius: 5px;
//     background: rgba($color: #ffffff, $alpha: 0.2);
//     p:nth-child(2) {
//       margin: 0 5px;
//     }
//   }
// }
