.main-player {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 12px rgb(255 255 255 / 20%);
  overflow: hidden;
  border-radius: 20px;
  #bgImg {
    position: absolute;
    width: 200%;
    height: 200%;
    filter: blur(20px);
    opacity: 0.7;
    z-index: -999;
  }
  .like_icon {
    position: absolute;
    top: 150px;
    left: 420px;
    cursor: pointer;
    font-size: 20px;
  }
  #volume {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    top: 40px;
    right: 65px;
    width: 20%;
    #volume_bar {
      width: 70%;
    }
  }
}

.top {
  position: absolute;
  display: flex;
  top: 60px;
  width: 100%;
  .title_artist_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 110px;
    width: 40%;
    font-size: 30px;
    #name,
    #artist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
    }
  }
}
.middle {
  display: flex;
  width: 100%;
  justify-content: space-around;
  .playbtn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    &:hover {
      #play {
        opacity: 1;
      }
    }
    .playpage_track_imag {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: 1px 0px 20px 12px rgb(0 0 0 / 20%);
      transition: all 0.1s ease;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      &:active {
        width: 95%;
        height: 95%;
      }
    }
    .cdimg {
      font-size: 200px;
    }
    #play {
      position: absolute;
      font-size: 100px;
      background: none;
      border: none;
      opacity: 0.5;
      transition: 0.4s;
      color: rgb(255, 255, 255);
    }
  }
  .lyrics_main {
    width: 350px;
    height: 500px;
    text-align: center;
    line-height: 40px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.bottom {
  position: absolute;
  top: 640px;
  left: 100px;
  width: 40%;
  #duration {
    height: 20px;
    width: 100%;
    #duration_slider {
    }
    .duration_text {
      margin-top: 10px;
    }
  }
}
input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  outline: none;
  height: 2px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #353535;
  }
}

.deleteSec {
  display: flex;
  justify-content: end;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  .deleteBtn {
  }
}

.commentWrite_form {
  position: relative;
  width: 80%;
  margin-bottom: 5%;
  .commentWrite_textarea {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  }
  button {
    position: absolute;
    right: 0;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    background: none;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
  }
}

.comment_section {
  width: 100%;
  .comment_text {
    position: relative;
    width: 80%;
    margin: 0 auto;
    .comment_owner {
      display: inline-block;
      width: 150px;
      margin-right: 50px;
    }
    i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
    }
  }
}

.hide {
  display: none;
}
