.empty_message {
  margin-bottom: 50px;
  font-size: 18px;
}
.auth-switch {
  text-align: auto;
  margin-top: 20px;
  a {
    text-decoration: underline;
  }
}

.header_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.track_image {
  width: 230px;
  border: 1px solid black;
  transition: all 0.4s ease;
}

#playpage_track_image {
  width: 300px;
  width: 300px;
  border-radius: 15px;
  transition: all 0.4 ease;
}

.commentWrite_form {
  position: relative;
  width: 80%;
  margin-bottom: 5%;
  .commentWrite_textarea {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  }
  button {
    position: absolute;
    right: 0;
    width: 70px;
    height: 30px;
    margin-top: 20px;
    background: none;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
  }
}

.comment_section {
  .comment_text {
    position: relative;
    width: 100%;
    .comment_owner {
      display: inline-block;
      width: 150px;
    }
    i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
    }
  }
}
