.empty_message {
  margin-bottom: 50px;
  font-size: 18px;
}
.auth-switch {
  text-align: auto;
  margin-top: 20px;
  a {
    text-decoration: underline;
  }
}

.header_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header_post {
  font-size: 28px;
  font-weight: 600;
}
.track_image {
  width: 230px;
  border: 1px solid black;
  transition: all 0.4s ease;
}

#playpage_track_image {
  width: 300px;
  width: 300px;
  border-radius: 15px;
  transition: all 0.4 ease;
}
