extends base.pug
include mixins/music.pug

block content
    ul.video-grid
        each music in _musicData
            +musicList(music)
        else
            span.empty_message Music not found.
    span
block scripts
    script(src="/static/js/musicData.js")