extends base.pug
include mixins/music.pug
include mixins/playlist.pug
block content
    div.chart_text All music
    ul.video-grid
        each music in _allMusic
            +musicList(music)
        else
            span.empty_message Music not found.
    hr
    div.chart_text Music chart
    ul.video-grid
        each music in _allChartMusric
            +musicList(music)
        else
            span.empty_message Music not found.
block scripts
    script(src="/static/js/home.js")