extends base.pug

block content
    block sidebar
    if errorMessage
        span=errorMessage
    form(method="POST").join-form
        article.join-top
            div Join
        article.join-mid
            article
                div Email
                input(name="email", type="email", required)
            article
                div Username
                input(name="username", type="text", required)
            article
                div Password
                input(name="password", type="password", required)
            article
                div Confirm Password
                input(name="password2", type="password", required)
            article
                div Name
                input(name="name", type="text", required)
            article
                div Location
                input(name="location", type="text", required)
        hr
        article.join-bottom
            input(type="submit", value="Join").join-submit
            div
                span Already have an account?
                a(href="/login") Log in now