extends base.pug

block content
    block sidebar
    if errorMessage
        span=errorMessage
    form(method="POST").login-form
        div.login-top
            div Login
        div.login-mid
            article
                div Username
                input(name="username", type="text", required).username-input
            article
                div Password
                input(name="password", type="password", required).password-input
        hr
        div.login-bottom
            input(type="submit", value="Login").submit-btn
            div.auth-switch
                span Don't have an account? 
                    a(href="/join") Create in now
        