header
    nav
        ul
            li
                a(href="/").header_logo
                    i.fas.fa-home
            li
                a(href="/noticeboard/0").header_post
                    span Post
            li.header_search
                a(href="/search")
                    i.fas.fa-search