header
    nav
        ul
            li
                a(href="/").header_logo
                    i.fas.fa-home
            li
                a(href="/search")
                    i.fas.fa-search
            li
                a(href="/noticeboard")
                    span post