header
    a(href="/").header_logo
        i.fas.fa-home
    block weather
        span 
    nav
        ul 
            li 
                a(href="/search")
                    i.fas.fa-search
            if !loggedIn
                li
                    a(href="/login") Login
                li
                    a(href="/join") Join
            else
                li 
                    a(href="/users/edit") Edit-Profile
                li 
                    a(href="/musics/upload") Upload Music
                li
                    a(href="/users/logout") Logout
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span (●'◡'●)
                        else 
                            img(src="/"+loggedInUser.avatarUrl).user_headerImage