
div.sidebar
    div.menu_top
        div.logo_content
            div.logo
                a(href="#")
                    i.fas.fa-home
            i.fas.fa-bars#btn
        hr
        div.profile_link
            if loggedIn
                a(href="#")
                    img(src="/"+loggedInUser.avatarUrl).small_profile_img
                    div.small_profile_description
                        div.small_profile_name JungWook
                        div.small_profile_text Front end Developer
            else
                a(href="#") Login
        hr
    div.menu_middle
        div.playlist_text Playlist
        //- span=_playlistData
        if _playlistData
            each listMusic in _playlistData
                ul
                    li
                        +playList2(listMusic)
            else
                span empty
script(src="/static/js/sidebar.js")
            

                        
                    
//- i.fas.fa-sign-out-alt
//- i.bx.bx-upload