
div.sidebar
    div.menu_top
        p
        i.fas.fa-bars#btn.logo_content
        div.profile_link
            if loggedIn
                div.small_profile
                    a(href=`/users/${loggedInUser._id}`)
                        img(src="/"+loggedInUser.avatarUrl).small_profile_img
                        div.small_profile_description
                            div.small_profile_name JungWook
                            div.small_profile_text Front end Developer
            else
                a(href="/login").login_btn Login
        div.playlist_text Playlist
    div.menu_middle
        if _playlistData
            each listMusic in _playlistData
                div.playlist_list
                    +playList2(listMusic)
            else
                span empty
script(src="/static/js/sidebar.js")