
section.sidebar
    i.fas.fa-bars#btn.logo_content
    div.menu_top
        if loggedIn
            a(href="/users/logout")
                    i.fas.fa-sign-out-alt#logout
        div.profile_link
            if loggedIn
                div.small_profile
                    a(href="/users/edit").small_profile_edit
                        i.bx.bx-edit-alt
                    a(href="/musics/upload").small_profile_upload
                        i.fas.fa-file-upload
                    a(href=`/users/${loggedInUser._id}`).small_profile_wrap
                        img(src="/"+loggedInUser.avatarUrl).small_profile_img
                        div.small_profile_description
                            div.small_profile_name JungWook
                            div.small_profile_text Front end Developer
            else
                a(href="/login").login_btn Login
    div.menu_middle
        if _playlistData
            each listMusic in _playlistData
                div.playlist_list
                    +playList2(listMusic)
            else
                span empty
script(src="/static/js/sidebar.js")